.layout--single .page__title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.layout--single .page__meta {
  text-align: center;
}

.layout--single .page__date {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.layout--archive .page__title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
/* Ensure date is left-aligned in archive pages (default layout) */
.layout--archive .page__meta,
.layout--archive .page__date {
  text-align: left;  /* Optional: ensures they're left-aligned in archives */
}

/* Change Fort Size of Published Dates */
.page__meta-date {
  font-size: 1.3em; 
}
