---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom"; // To center the title of posts 

// Override sidebar height and overflow behavior // prevent the advert of a scroll-bar on the profile section on the leftside.
.sidebar {
  max-height: none !important;
  overflow-y: visible !important;
  position: relative !important; // optional, ensures sidebar scrolls with the page
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('/assets/fonts/RIDIBatang.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewerRoman-Regular';
    src: url('/assets/fonts/TimesNewerRoman-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
