---
layout: default
---

<div class="page">
  <header class="page__header">
    <h1>Categories</h1>
  </header>
  <div class="page__content">
    {% for section in site.data.categories.docs %}
      <h2>{{ section.title }}</h2>
      {% for item in section.children %}
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <ul>
          {% assign posts = site.categories[item.category] | sort: 'date' | reverse %}
          {% for post in posts %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
</div>
